.button {
    font-family: inherit;
    border: none;
    border-radius: 32.5rem;
    background-color: $red;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    color: white;
    padding: 1.5rem 4.2rem;
}
