@font-face {
    font-family: "Formular";
    src: url("../assets/fonts/Formular-Light.woff2") format("woff2"),
        url("../assets/fonts/Formular-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("../assets/fonts/Formular.woff2") format("woff2"),
        url("../assets/fonts/Formular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("../assets/fonts/Formular-Bold.woff2") format("woff2"),
        url("../assets/fonts/Formular-Bold.woff") format("woff");

    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

.body {
    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 19rem;
    width: 100%;

    &--lg {
        padding: 0 6.5rem;
    }

    @media screen and (max-width: 1280px) {
        padding: 0 4rem;
    }

    @media screen and (max-width: 768px) {
        padding: 0 2rem;
    }
}

@import "../components/Header/header.scss";
@import "../components/Button/button.scss";
@import "../components/Intro/intro.scss";
@import "../components/Select/select.scss";
@import "../components/Checkbox/checkbox.scss";
@import "../components/Slider/slider.scss";
@import "../components/ShowMore/show-more.scss";
@import "../components/CustomMap/map.scss";
@import "../components/InfoBlock/info-block.scss";
@import "../components/Footer/footer.scss";
