@font-face {
    font-family: "Formular";
    src: url("./assets/fonts/Formular-Light.woff2") format("woff2"),
        url("./assets/fonts/Formular-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("./assets/fonts/Formular.woff2") format("woff2"),
        url("./assets/fonts/Formular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Formular";
    src: url("./assets/fonts/Formular-Bold.woff2") format("woff2"),
        url("./assets/fonts/Formular-Bold.woff") format("woff");

    font-weight: 700;
    font-style: normal;
}

.App {
    font-family: "Formular", sans-serif;
    font-size: 2rem;
}
